.thumbnail img {
    width: 100%;
}
.thumbnail{
    padding:0;
}
.thumbnail .caption-full{
    padding:9px;
}
#delete-form, #delete-comment-form{
    display: inline;
}
.topHeader{
    text-align:center;
}
.log-regFormBody{
    width:30%;
    margin:25px auto;
}